<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UST_Routing.Properties.Settings.USTRoutingConnectionString" connectionString="Data Source=ERIC-ASUS-PC\SQLEXPRESS;Initial Catalog=USTRouting;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="UST_Routing.Properties.Settings.USTRoutingConnectionString1" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=USTRouting;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="UST_Routing.Properties.Settings.USTRoutingConnectionString2" connectionString="Data Source=ERIC-ASUS-PC;Initial Catalog=USTRouting;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UST_Routing.Properties.Settings.USTConnectionString" connectionString="Data Source=XIDAX;Initial Catalog=UST;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="USTContext" connectionString="metadata=res://*/Data.USTEF.csdl|res://*/Data.USTEF.ssdl|res://*/Data.USTEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XIDAX;initial catalog=UST;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlutoContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=UST_Routing.Persistence.PlutoContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="USTContext1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=UST_Routing.Persistence.USTContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>